:root {
  --backgroundColor1: #f0f4fa;
  --backgroundColor2: #f8faff;

  --grayFontColor: #676667;
  --grayFontColor2: #7c7c7d;
  --grayTimeColor: #686768;

  --blueNotification: #5b96f7;
  --dotColor: #76d45e;

  --navbarImageBackgroundColor: #afbbf7;

  /* chat */
  --chatMessageBlue: #5b96f7;
  --chatEnterMessageButtonFontColor: #709ce6;
  --chatEnterMessageButtonBackgroundColor: #eaf2fe;
  --chatEnterMessageButtonMarginColor: #f7f9fd;
  --chatLeft: #ffffff;
  --chatRight: #5b96f7;

  --blueTextColor: #5b96f7;

  --buttonColor: #3366ff;
}
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}
